= render 'spree/admin/shared/specials_sub_menu'
= render 'spree/admin/shared/special_offers_tabs', { :current => 'Special Offers for empty taxons' }

h1= t(:edit_special_offer_empty_taxon_binding)
= render 'form'