<div class="content order">
  <fieldset id="order_summary">
    <legend>Заказ #<%= @order.number %></legend>

    <div id="order">
      <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
      <br class="clear" />
    </div>
  </fieldset>
</div>

