
<div id="footer"> 

  <div class="copy">&copy;  COPYRIGHT 2012
  <br />Российский интернет магазин 
  <br />Телефон в Саратове   (845-2) 25-49-90
  </div>

  <div class="bmenu">
    <a href="/about">О нас</a> |
    <a href="/shipping">Доставка</a> |
    <a href="/contacts">Контакты</a> |
    <a href="/">ФОРУМ</a> |
    <a href="/">Оплата </a> |
    <a href="/">Гарантии</a>
  </div>

</div>

<div class="bpanel">
  <a href="/" class="tab l1"><span class="lc"></span><span class="ic">Личный кабинет</span><span class="rc"></span></a>
  <a href="/" class="tab l2"><span class="lc"></span><span class="ic">К сравнению (0)</span><span class="rc"></span></a>
  <a href="/" class="tab l3"><span class="lc"></span><span class="ic">Закладки (0)</span><span class="rc"></span></a>  
  <a href="/" class="tab l4"><span class="lc"></span><span class="ic">Просмотренные (0)</span><span class="rc"></span></a>
  <a href="/" class="tab l5"><span class="lc"></span><span class="ic">Корзина (0)</span><span class="rc"></span></a>
  <a href="/" class="l6"><span class="call">Позвонить с сайта</span><span>достаточно кликнуть!</span></a>

</div>
