<nav class="top-nav">
  <ul>
    <li><a href="/">О нас</a></li>
    <li><a href="/">Доставка</a></li>
    <li><a href="/">Акции</a></li>
    <li><a href="/">Вакансии</a></li>
    <li><a href="/">Контакты</a></li>
  </ul>
</nav>

<div class="tbar">
  <select>
    <option>Безнал./ Кредит.</option>
  </select>
  <div class="enter"><a href="/">Вход для клиентов</a></div>
</div>

<div id="header">
  <p class="logo">
    <a href="/">
      <%= image_tag 'store/logo.png' %>
      <span>г. Саратов</span>
    </a>
  </p>

  <div class="search">
    <input type="text" value="Найти легко! Поиск товара." /><a href="/">Найти</a>
  </div>

  <div class="contacts">
    <div class="phone"><span>т.</span> (8452) 25-49-90</div>
    <a href="/" class="callback">Услуга "Обратный звонок"</a>
  </div>

  <div class="notice">
    <span>Оплата при получении.</span>
    <span class="ship">Доставка на следующий день.</span>
  </div>

  <div class="cart">
    <h2>Корзина</h2>
    <div class="icon"></div>      <!--div class="icon act"></div-->
    <div class="cont">
    Пока пусто...
    <p>Самое время что-то купить </p>
    </div>
  </div>

</div>

<div class="photoline"></div>

