body.admin {
  ul.products_kits,
  ul.products_kits ul {
    list-style: none;
    margin: 0; }

  ul.products_kits {
    li {
      padding: 12px;
      border: solid 1px #ccc;
      margin-bottom: 12px;

      h3 {
        font-size: 13px;
        color: #AAA; }

      ul.items {
        li {
          padding: 7px;
          border: solid 1px #eee;
          form {
            display: inline-block;

            label {
              margin-right: 5px; }
            input {
              margin-right: 12px; } } } }
      a.new {
        display: inline-block;
        margin-top: 5px;
        font-size: 10px; }
      a.delete {
        float: right; } } }
}