<% content_for :sidebar do %>
  <%= section_title 'Аукцион' %>
  <ul id="auction">
    <li>
      <a href="/">
        <img src="img/goods/1.jpg" />
        <span class="name">Western Digital USB 2000Gb (WDBACW0020HBK-EESN) My Book Essential Black, 3.5"</span>
        <span class="price">200.00 р.</span>
      </a>
    </li>
  </ul>
<% end %>
