<% content_for :throw_out do %>
  <%= section_title 'Отзывы' %>
  <div class="review">

    <div class="customer-name">Елена <span>2012-02-03 23:23:07</span></div>

    <span class="stars ran3"></span> <br />

    <p class="experience">Опыт использования: 1 год </p>

    <p class="modification">Модификация модели: OBM-204
    </p>

    <p><b>Достоинства:</b><br />
    Низкая цена, нерж.сталь-корпус, нестираемые кнопки, сборка -Венгрия
    </p>

    <p><b>Недостатки:</b><br />
    Нет
    </p>

    <p><b>Комментарий:</b><br />
    Рецепты беру только с форума "Моя хлебопечка" - там они все проверенные, с фото, хлеб только удачный получался. Пекла пшеничный, ржаной, сдобу, кекс, тесто делала - все отлично. (Режим для сдобы и пшеничного - только "02" французский!)
    </p>
  </div>

  <div class="review">

    <div class="customer-name">Елена <span>2012-02-03 23:23:07</span></div>

    <span class="stars ran3"></span> <br />

    <p class="experience">Опыт использования: 1 год </p>

    <p class="modification">Модификация модели: OBM-204
    </p>

    <p><b>Достоинства:</b><br />
    Низкая цена, нерж.сталь-корпус, нестираемые кнопки, сборка -Венгрия
    </p>

    <p><b>Недостатки:</b><br />
    Нет
    </p>

    <p><b>Комментарий:</b><br />
    Рецепты беру только с форума "Моя хлебопечка" - там они все проверенные, с фото, хлеб только удачный получался. Пекла пшеничный, ржаной, сдобу, кекс, тесто делала - все отлично. (Режим для сдобы и пшеничного - только "02" французский!)
    </p>
  </div>
<% end %>
