- taxonomy(:categories).root.children.each do |root_taxon|
  - if root_taxon.has_available_special_offer?
    = render "spree/shared/special_offer", {special_offer: root_taxon.special_offers.first, title: root_taxon.name}
= render "spree/shared/recomendations"