<% if advertisement = Spree::Advertisement.random.first %>
  <% content_for :sidebar do %>
  <div class="advertisement">
    <%= link_to image_tag(advertisement.vertical_image.url), advertisement.link %>
  </div>
  <% end %>
<% end %>
