<% if advertisement = Spree::Advertisement.random.first %>
  <% content_for :sidebar do %>
  <div class="advertisement">
    <%= image_tag advertisement.vertical_image.url %>
  </div>
  <% end %>
<% end %>
