<% content_for :sidebar do %>
  <%= section_title 'Просмотренные товары' %>
  <ul id="viewed_recently">
    <li>
      <a href="/">
        <img src="img/goods/1.jpg" />
        <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
        <span class="price">3'793 грн.</span>
      </a>
    </li>
  </ul>
<% end %>
