<% content_for :sidebar do %>
  <% if get_recently_viewed_products.any? %>
    <%= section_title 'Просмотренные товары' %>
    <ul id="viewed_recently">
      <% for product in get_recently_viewed_products %>
        <li>
          <%= link_to product_image(product) + 
                content_tag(:span, product.name, :class => 'name'), product, :title => product.name %>
          <span class="price"><%= format_price product.price %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
