
jQuery.fn.sortable_table = function() {
  var options = { 'position': 'input[name$="[position]"]' }
  if (arguments.length > 0)
    $.extend(options, arguments[0])

  var drag_handle_template = '<span class=\"handle\"></span>'

  var tbody = $(this).find('tbody')

  tbody.find('tr td:first-child').prepend(drag_handle_template);

  tbody.bind('DOMNodeInserted', function(event) {
    var elem = $(event.target)
    if (elem.find('.handle').length != 0)
      return

    elem.find('td:first-child').prepend(drag_handle_template)
    tbody.sortable('refresh')
  })

  tbody.sortable({
    handle: '.handle',
    items: 'tr',
    update: function() {
      console.log(tbody)
      console.log(options)
      tbody.find(options.position).each(function(i, e) {
        console.log(i, e)
        $(e).val(i+1)
      })
    }
  })
}

